*{
	box-sizing: border-box;
}

body{
	min-width: 320px;
	margin: 0 auto;
}


@font-face {
    font-family: NexaRustSans;
    src: url(NexaRustSans-Black.otf);
}


.wrap{
	max-width: 960px;
	margin:0 auto;
}

.headerphoto, .headerphoto1{
	display: block;
	width: 100%;
	border-top: 100px #31312e solid;
}

.headerphoto{
	display: none;
}


.topline{
	position: absolute;
	top: 36px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 10px 0px 20px;
	
}
.menulines{
	display: none;
}

.dropdown{
	margin-left: 20px;
}
.dropdown label{
	display: inline-block;
	width: 24px;
	height: 22px;
	background-image: url(img/menu.png);
	transition: 1s;
	cursor: pointer;
}
.dropdown input{
  display: none;
}

.dropdown input~div{
  display: none;
}

.dropdown input:checked~div{
  display: block;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  transition: 1s;

  }

.navigation-mob{
	
	position: absolute;
  	right: 0;
  	top: 64px;
}

nav a{
    text-decoration: none;
	font-family: "Montserrat";
	color: #31312e;
	text-transform: uppercase;
	line-height: 2;
	text-align: right;
}
nav{
	display: flex;
	flex-direction: column; 
	
}
nav a:hover{
	background-color: rgb(222, 183, 155);
}


.headtext, .headtext-places, .headtext-contacts, .headtext-gear{
	position: absolute;
	top: 136px;
	text-align: center;
}

.headtext{
	left: calc(50% - 160px);
	
}

.headtext-places{
	left: calc(50% - 114px);
}

.headtext-contacts{
	left: calc(50% - 48px);
	
}

.headtext-gear{
	left: calc(50% - 118px);
}

h3{
 	font-size: 16px;
  	font-family: "Montserrat";
  	color: rgb(255, 255, 255);
  	text-transform: uppercase;
  	line-height: 1.2;
}

h4{
	font-size: 16px;
	text-align: center;
	bottom: 80px;
	font-family: "Montserrat";
  	color: #68751D;
  	text-transform: uppercase;
  	line-height: 1.8;
}

.author img{
	border-radius: 50%;
}



h1{
	font-size: 16px;
  	font-family: "NexaRustSans", "Montserrat", Arial;
  	color: rgb(233, 229, 219);
  	line-height: 1.2;
  	text-align: center;
}

.back{
	width: 50px;
	margin-left: calc(50% - 100px);
	display: flex;
	flex-direction: row;
    box-sizing: content-box;
    padding: 4px;
}

.back div{
	width: 28px;
	height: 28px;
	margin: 5px; 
	background-image: url(img/share.png);
}
.back div:hover{
	background-image: url(img/share1.png);
}

.bbl{
	background-position: 0 82px; 
}

.love{
	background-position: 0 187px;
}

.twit{
	background-position: 0 236px;
}

.faceb{
	background-position: 4px 291px;
}

.share {
	background-position: 0 2px;
}

ul {
	list-style-image: url(img/ul.jpg);
}

article{
	padding: 20px;
	text-align: left;
	font-size: 18px;
    font-family: "Merriweather";
    color: rgb(60, 57, 48);
    line-height: 1.667;

}
 h2{
	font-size: 24px;
  	font-family: "Montserrat";
  	color: rgb(60, 57, 48);
  	text-transform: uppercase;
  	line-height: 1.2;
  	text-align: center;
}

.map1, .map2, .map3{
	margin-bottom: 40px;
}
.map1{
	margin-left: calc(50% - 150px);
}
.map2, .map3{
	display: none;
}


.midline{
	width: 80px;
	height: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: calc(50% - 40px);
	background-color: #ECB89B;
}

.mid-image {
	margin-bottom: -50px;
}
.mid-image img{
	width: 100%;
}

.mid-text{
	position: relative;
	font-size: 12px;
	text-align: center;
	bottom: 80px;
	font-family: "Montserrat";
  	color: rgb(255, 255, 255);
  	text-transform: uppercase;
  	line-height: 1.8;
}

.mid-soc{

	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	bottom: 80px;
}



.mid-soc div{
	height: 24px;
	width: 24px;
	margin-left: 20px; 
	background-image: url(img/mid-soc.png);
}

.mid-fb{
	background-position: -5px -52px;
}

.mid-tw{
	background-position: -5px 2px;
}

.mid-pin{
	background-position: -5px 56px;
}

.mid-soc div:hover{
	background-image: url(img/mid-soc1.png)
}

.youtube1, .youtube2, .youtube3{
	margin-bottom: 20px;
}
.youtube1{
	margin-left: calc(50% - 160px);
}

.youtube2{
	display: none;
	margin-left: calc(50% - 320px);
}

.youtube3{
	display: none;
	margin-left: calc(50% - 480px);
}

.stay-img{
	width: 100%;
	
}

.team{
	border-radius: 50%;
	margin-left: calc(50% - 100px);
	animation-name: team-photo;
	animation-duration: 0.5s; 
}
.team:hover{

	animation-name: team-photo-hover;
	animation-duration: 1s;
}


.feedback{
	margin-left: calc(50% - 150px);
	
}

.mob-form2{
		display: none;
	}
textarea{
	width: 246px;
}
@keyframes team-photo{
	0% {transform: none;}
	25% {transform: rotate(3deg);}
	50%{transform: rotate(-3deg);}
}

@keyframes team-photo-hover{
	0% {transform: none;}
	25% {transform: rotate(10deg);}
	50%{transform: rotate(-10deg);}
}

.carousel-img img{
	width: 100%;
}

.carousel-text{
	position: relative;
	top: 70px;
	
	left: calc(50% - 40px);

}
.carousel-img a{
	text-decoration: none;
	color: white;
	font-family: "NexaRustSans";
  	text-transform: uppercase;
  	line-height: 1.8;
  	font-size: 18px;
}

.gear-img {
	width: 100%;
}

article a{
	color: #68751D;
}

footer{
	min-height: 100px;
	background-color: #31312e;
	box-sizing: content-box;
	padding: 20px;
}

.contact{

	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: 32px;
}

.contact li{

	list-style: none;
	margin-right: 5%;
}

.contact li a{
	text-decoration: none;
	font-size: 12px;
  	font-family: "Montserrat";
  	color: rgb(222, 183, 155);
  	text-transform: uppercase;
  	
}

.contact li a:hover{
	color: #68751D;
}

 .current {
		border: 1px solid white;
		padding: 5px;
	}


.soc{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 25px;
	
}

.soc div{
	background-color: #ECB89B;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-image: url(img/soc.png);

}

.soc a{
	margin-left: 2%;
	margin-right: 2%;
}

.soc div:hover{
	background-color: #68751D;
}
.tw{
	background-position: -1px 110px;
}
.inst{
	background-position: -2px 8px;
}
.fb{
	background-position: 1px 43px;
}

.pin{
	background-position: 0px 78px;
}


.footline{
	width: 120px;
	height: 4px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: calc(50% - 60px);
	background-color: #ECB89B;
}

.copyright{
	width: 100%;
	text-align: center;
	font-size: 14px;
    font-family: "Merriweather";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}



@media(min-width: 412px){
	h1{
		font-size: 22px;
	}

	.headtext{
		left: calc(50% - 209px);
	}

	.topline{
		padding: 0 20px 0px 20px;
	}
	.headtext-contacts{
	left: calc(50% - 68px);
	
	}
}

@media (min-width: 575px){
	.carousel-text{
		top: 105px;
	}

	.headtext{
		left: calc(50% - 310px);
	}
	.headtext-gear{
	left: calc(50% - 108px);
	}


	.mid-text{
		font-size: 24px;
		bottom: 200px;
	}

	.mid-soc{
		bottom: 180px;
	}
	
	.back{
	width: 50px;
	height: 200px;
	background-color: #31312e;
	position: fixed;
	left: 0;
	margin-left: 0;
	bottom: calc(50% - 100px);
	display: flex;
	flex-direction: column;
    box-sizing: content-box;
    padding: 4px;
    opacity: 0.5;
    z-index: 10;

	}

	.back:hover{
		opacity: 1;
	}

	.headtext-contacts{
	left: calc(50% - 68px);
	
	}

	
}


@media (min-width: 652px){
	.headerphoto1{
		display: none;

	}
	.headerphoto{
		display: block;
	}



	.headtext {
		top: 138px;
		
	}

	.mob-form1{
		display: none;
	}

	.mob-form2{
		display: block;
	}

	.feedback{
	margin-left: calc(50% - 300px);
	}


}
@media (min-width:780px){
	.dropdown input:checked~div{
		display: none;
	}


	.menulines{
		display: block;
		margin-left: 10%;
		margin-top: -10px;
	}

	.menu{	
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	}

	.menu li{

	list-style: none;
	margin-right: 5%;
	}

	.menu li a {
		text-decoration: none;
		font-size: 16px;
	  	font-family: "Montserrat";
	  	color: rgb(233, 229, 219);
	  	text-transform: uppercase;
	  	line-height: 1.2;
	  	text-align: left;
	}
	

	.menu li a:hover{
		color: #e0c34f;
	}

	.dropdown label{
		display: none;
	}
	h1{
		font-size:26px;
	}
	.headtext {
	left: calc(50% - 365px);
	}

	.map1{
		display: none;
		
	}
	.map2{
		display: block;
		margin-left: calc(50% - 320px);
	}
	.youtube1{
		display: none;
	}
	.youtube2{
		display: block;
	}
	
	.stay1{
		float: left;
	}
	.stay2{
		float: right;
	}
	
	
	.img-wrap:after{
	content: '';
	display: block;
	clear:both;
	}

	.carousel-text{
		top: 145px;
	}
	.headtext-contacts{
	left: calc(50% - 118px);
	
	}

	.contact{

	margin-right: 0;
}
	
}

@media (min-width:960px){
	h1{
		font-size:36px;
	}
	.headtext {
	left: calc(50% - 491px);
	}
	.headtext-places{
	left: calc(50% - 164px);
	}
	.headtext-gear{
	left: calc(50% - 121px);
	}

	.map2{
		display: none;
	}
	.map3{
		display: block;
	}

	.youtube2{
		display: none;
	}

	.youtube3{
		display: block;
	}
	.stay-img{
		width: 450px;
		
	}
	
	.gear1{
	float: left;
	width: 45%;
	text-align: left;
	}

	.gear2{
	float: right;
	width: 45%;
	text-align: left;
}

	.gear-row:after{
	content: '';
	display: block;
	clear:both;
	}
	.carousel-text{
		top: 200px;
	}

}